$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
}

legend {
  color: #FF495C;
}

table {
  margin: 10px;
}

#appointments {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#appointments td, #appointments th {
    border: 1px solid #ddd;
    padding: 8px;
}

#appointments tr:nth-child(even){background-color: #f2f2f2;}

#appointments tr:hover {background-color: #ddd;}

#appointments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
